body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Home-h1 {
    font-weight: bold;
    color: darkgreen;
}

.Home-p {
    color: red;
}

.jumbotron {
    margin-top: 0px;
    padding-top: 0px;
    height: 600px;
    background-color: darkgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.jumbotron h1 {
    color: white;

}

.jumbotron p {
    color: white;   
}

.navbar-header {
    color: white;
    background-color: darkred;
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
    color: white;

}


.presentsWordsLeft {
    margin-top: -150px;
    width: 275px;
    height: 200px;
}

.h1Left {

}

.wordsButton {

}

.elephantPic {


}

@media (max-width: 768px) {
    .jumbotron {
        margin-top: 00px;
        height: 750px;
    }
    .presentsWordsLeft {
        margin-top: 50px;
    }
    .elephantPic {
        margin-top: 150px;
    }
}
@media (max-width: 414px) {
    .presentsWordsLeft {
        margin-top: 100px;
    }
    .elephantPic {
        margin-top: 0px;
    }
}

@media (max-width: 375px) {
    .presentsWordsLeft {
        margin-top: 120px;
    }
    .elephantPic {
        margin-top: 0px;
    }
}

@media (max-width: 320px) {
    .jumbotron {
        height: 660px;
    }
    .wordsButton {

    }
    .presentsWordsLeft {
        margin-top: 100px;
    }
    .elephantPic {
        margin-top: 0px;
    }
    .wordsButton {
        height: 40px;
        margin-top: -50px;
    }
}
