body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Home-h1 {
    font-weight: bold;
    color: darkgreen;
}

.Home-p {
    color: red;
}

.jumbotron {
    margin-top: 0;
    height: 500px;
    background-color: darkgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.jumbotron h1 {
    color: white;

}

.jumbotron p {
    color: white;   
}

.navbar-header {
    color: white;
    background-color: darkred;
}

.navbar-inverse .navbar-brand {
    color: white;

}


.presentsWordsLeft {
    width: 275px;
    height: 300px;
}

.h1Left {

}

.wordsButton {
    display: flex;
}

.elephantPic {
    display: flex;


}
