@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Who wants presents?</h1>
    <p class="lead">Here is some text to fill in some space so people can read something before they click the button to get some presents!</p>
    <h5>@Html.ActionLink("Gift List", "Index", "Gift", new { @class = "btn btn-default" })</h5>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="Home-p">Gift buying tips.</h2>
        <p>
            Don't get people garbage...no one likes garbage. 
        </p>
        <p>@Html.ActionLink("Gift List", "Index", "Gift", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2 class="Home-p">Got a bad gift?</h2>
        <p>Easy solution...regift it at next years White Elephant.</p>
        <p>@Html.ActionLink("Gift List", "Index", "Gift", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2 class="Home-p">Awesome gift?</h2>
        <p>Make sure to show it off to everyone...especially those with poor gifts.</p>
        <p>@Html.ActionLink("Gift List", "Index", "Gift", new { @class = "btn btn-default" })</p>
    </div>

</div>